[submodule "extern/WebGPU-distribution"]
	path = extern/WebGPU-distribution
	url = https://github.com/eliemichel/WebGPU-distribution
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp
[submodule "extern/ImGuizmo"]
	path = extern/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
