[submodule "extern/WebGPU-distribution"]
	path = extern/WebGPU-distribution
	url = https://github.com/eliemichel/WebGPU-distribution
[submodule "extern/ImGuizmo"]
	path = extern/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "extern/simde-no-tests"]
	path = extern/simde-no-tests
	url = https://github.com/simd-everywhere/simde-no-tests
